<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701601943007-g5e3ki0t1lpo9d49f974eeab1fg04cbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701601943007-g5e3ki0t1lpo9d49f974eeab1fg04cbd</string>
	<key>API_KEY</key>
	<string>AIzaSyDapJCPq1xL86BXRTV8xzUw8y6S-fkxOnA</string>
	<key>GCM_SENDER_ID</key>
	<string>701601943007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hishd.CafeNIBMNew</string>
	<key>PROJECT_ID</key>
	<string>nibm-cafe-test</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-cafe-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701601943007:ios:9d2f7b02ccc6870429486a</string>
</dict>
</plist>